<ion-header>
  <ion-toolbar>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label>Detalhes do Contato</ion-label>
  <ion-list>
    <ion-item>
      <ion-label>Habilitar Edição</ion-label>
      <ion-toggle color="success" (ionChange)="alterarEdicao()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Nome" [(ngModel)]="nome" disabled="{{edicao}}" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Telefone" [(ngModel)]="telefone" type="number" disabled="{{edicao}}" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Selecione Genero" [(ngModel)]="genero" disabled="{{edicao}}" >
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="feminino">Feminino</ion-select-option>
        <ion-select-option value="nao-declarar">Não Declarar</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Data de Nascimento</ion-label>
      <ion-datetime-button datetime="datetime" disabled="{{edicao}}" ></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" max="{{data}}" presentation="date" [(ngModel)]="dataNascimento"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

  </ion-list>
  <ion-button disabled="{{edicao}}" expand="block" (click)="editar()">Salvar</ion-button>
  <ion-button disabled="{{edicao}}" expand="block" (click)="excluir()" color="danger">Excluir</ion-button>
</ion-content>