<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label>Cadastro de Contatos</ion-label>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Telefone" [(ngModel)]="telefone" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Selecione Genero" [(ngModel)]="genero">
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="feminino">Feminino</ion-select-option>
        <ion-select-option value="nao-declarar">Não Declarar</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Data de Nascimento</ion-label>
      <ion-datetime-button datetime="datetime"  ></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" max="2022-05-31" presentation="date" [(ngModel)]="dataNascimento"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

  </ion-list>
 
  <ion-button expand="block" (click)="cadastrar()">Cadastrar</ion-button>
</ion-content>
