<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: lightskyblue; color: white;">
      Agenda de Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let contato of contatos" padding-top="30px">
      <ion-icon name="person-circle-sharp" height="2em" style="zoom:2.0;"></ion-icon>
      <ion-label class="ion-padding-start">
        <h1>{{contato.nome}}</h1>
        <p>{{contato.genero}}</p>
        <h1>{{contato.telefone}}</h1>
        <p>Data de Nascimento: {{contato.dataNascimento}}</p>
      </ion-label>

    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="irParaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>